.create-officer-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.create-officer-content {
    width: 100%;
    max-width: 350px;
    background: white; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    border-radius: 18px;
}
.input-row-create-officer {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.input-row-create-officer input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}
.input-row-create-officer input:focus {
    border-color: #0075ff;
    box-shadow: 0 0 4px rgba(0,118,255,0.3);
    outline: none;
}
.create-officer-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #006dff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.create-officer-btn:hover {
    background: #0053d6;
}
.input-row-create-officer select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 100%;
    background: white;
    cursor: pointer;
}
.input-row-create-officer select:focus {
    border-color: #0075ff;
    box-shadow: 0 0 4px rgba(0,118,255,0.3);
    outline: none;
}