.submit-rating {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-rating-conatiner {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #333;
    margin-top: 0;
}
.form-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    background-color: white; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 25px; 
    box-sizing: border-box;
    border-radius: 18px;
}
.heading-rating {
    text-align: center;
}
.select-option {
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    cursor: pointer;
    margin-top: 0rem;
}
.form-container select:focus {
    border-color: #0075ff;
    box-shadow: 0 0 4px rgba(0,118,255,0.3);
    outline: none;
}
.label-text {
    display: block;
    margin-top: 1rem;
    font-weight: 500;
    font-size: 16px;
}
.submit-btn-rating {
    width: 100%;
    box-sizing: border-box; 
    border: none;
    background: #006dff;
    border-bottom: 2px solid #0056b3;
    border-radius: 8px;
    font-size: medium;
    color: white;
    padding-left: 12px;
    padding-right: 12px;    
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-top: 3rem
}
.submit-btn-rating:hover {
    background: #0053d6;
}
.success-wrapper {
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.success-icon {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.success-title {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 10px;
}
.success-message {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
}
.go-back-link {
    font-size: 18px;
    color: #3f51ff;
    text-decoration: none;
    font-weight: 500;
}
.go-back-link:hover {
    text-decoration: underline;
}