.template-parent {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.template-child {
    width: 100%;
    max-width: 350px;
    background: white; 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 25px;
    border-radius: 18px;
}
.parent {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.underline {
   height: 1px;
   width: 100%;
   background-color: #1a1a1a;
}
.or {
    color: #1a1a1a;
    font-size: medium;
    line-height: 1.375rem;
}
.btn {
    all: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: medium;
    color: #0d0d0d;
    border: 1px solid;
    border: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    column-gap: 0.8rem;
    margin-top: 1.5rem;
    cursor: pointer;
    box-sizing: border-box;
}
.btn:focus {
    border-color: #0075ff;
    box-shadow: 0 0 4px rgba(0,118,255,0.3);
    outline: none;
}

@media (max-width: 600px) {
    .template-parent {
        height: auto;              
        padding: 20px 0;
    }
    .template-child {
        max-width: 300px;       
        width: 90%;
        padding: 15px 18px;         
        border-radius: 14px;
        box-shadow: 0 5px 15px rgba(0,0,0,0.18);
    }
    .parent {
        gap: 6px;
    }
    .underline {
        height: 1px;
    }
    .or {
        font-size: 14px;
    }
    .btn {
        padding: 8px;
        font-size: 14px;
        margin-top: 1rem;
        border-radius: 6px;
        column-gap: 0.5rem;
    }
    .btn span, .btn img {
        transform: scale(0.9);  
    }
}